.margin {
  width: 1190px;
  margin: 0 auto; }

#banner img {
  width: 100%;
  cursor: pointer; }

#head {
  height: 130px;
  overflow: hidden; }
  #head #logo {
    float: left;
    padding-left: 10px;
    overflow: hidden;
    cursor: pointer; }
    #head #logo .txt {
      font-size: 178px;
      color: #ff0036;
      position: relative;
      top: -40px; }
    #head #logo .cat {
      font-size: 40px;
      position: relative;
      left: -160px;
      bottom: 36px; }
  #head #logo-r {
    float: left;
    margin-left: 128px;
    margin-top: 38px; }
    #head #logo-r .search #txt {
      width: 481px;
      height: 36px;
      border: 2px solid #ff0036;
      float: left;
      padding: 0 5px;
      outline: none; }
    #head #logo-r .search #btn {
      width: 130px;
      height: 40px;
      background: #ff0036;
      border: none;
      font: 18px/40px "";
      color: #fff; }
    #head #logo-r ul li {
      float: left;
      font: 14px/30px ""; }
      #head #logo-r ul li a {
        color: #999; }
      #head #logo-r ul li a.te {
        color: #ff0036; }
      #head #logo-r ul li span {
        margin-left: 14px;
        margin-right: 12px; }

#main .subNav {
  font-size: 12px; }
  #main .subNav .sN_t {
    height: 38px;
    padding: 7px 0 7px 38px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    color: #000; }
    #main .subNav .sN_t span {
      margin: 0 9px; }
    #main .subNav .sN_t a:nth-child(3) {
      color: red;
      text-align: center;
      margin-top: 2px; }
    #main .subNav .sN_t input {
      width: 152px;
      height: 20px;
      border: 1px solid #ccc;
      padding: 0 5px; }
  #main .subNav .sN_c {
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    line-height: 34px; }
    #main .subNav .sN_c span {
      display: inline-block;
      float: left;
      width: 119px;
      height: 34px;
      background: #f7f5f5;
      padding-left: 14px;
      color: #d7cecb;
      line-height: 34px; }
    #main .subNav .sN_c ul {
      float: left;
      width: 808px; }
    #main .subNav .sN_c li {
      width: 164px;
      float: left;
      padding-left: 38px; }
    #main .subNav .sN_c li:nth-child(4) ~ li {
      display: none; }
    #main .subNav .sN_c a.btn {
      float: right;
      margin-right: 10px;
      background: #fff;
      border: 0;
      outline: 0;
      height: 34px; }
    #main .subNav .sN_c a:hover {
      color: red; }
  #main .subNav .sN_b {
    margin: 10px 0; }
#main .list li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 4px solid white; }
#main .list li .bord {
  width: 218px;
  border: 1px solid #f5f5f5; }
  #main .list li .bord img.show {
    display: block;
    height: 218px;
    width: 218px; }
  #main .list li .bord p.kind {
    padding: 6px; }
    #main .list li .bord p.kind img {
      width: 32px;
      height: 32px;
      border: 1px solid #999;
      margin-right: 4px; }
  #main .list li .bord p.text {
    padding: 0 6px; }
    #main .list li .bord p.text .price {
      font: 700 16px/30px "";
      color: red; }
    #main .list li .bord p.text a {
      font: 12px/16px ""; }
    #main .list li .bord p.text a.tit {
      color: #000; }
    #main .list li .bord p.text a.des {
      color: red; }
    #main .list li .bord p.text a.home {
      color: #999;
      text-decoration: underline;
      margin-right: 5px; }
    #main .list li .bord p.text span.total {
      display: block;
      width: 100%;
      margin-top: 6px;
      font: 12px/32px "";
      color: #999;
      border-top: 1px solid #ccc; }
    #main .list li .bord p.text strong {
      color: #b57c5b; }
    #main .list li .bord p.text a:hover {
      text-decoration: underline;
      color: red; }
#main .list li:hover {
  border: 4px solid red; }
#main .page {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #999;
  text-align: center; }
  #main .page a {
    display: inline-block;
    color: #2953a6;
    padding: 10px;
    margin-left: -5px;
    border: 1px solid #ccc; }
  #main .page .active {
    color: #999;
    background: #efefef; }
  #main .page #nums a:nth-child(3), #main .page a:nth-child(4) {
    border-right: 1px solid #ccc; }
  #main .page span.total {
    margin-left: 5px; }
  #main .page #page_txt {
    width: 32px;
    height: 19px;
    border: 1px solid #ccc;
    text-align: center; }
  #main .page #page_btn {
    width: 46px;
    height: 24px;
    background: #fff;
    border: 1px solid #ccc;
    outline: 0;
    cursor: pointer; }
  #main .page #nums a:hover, #main .page a:nth-child(4):hover {
    background: #efefef;
    text-decoration: underline; }

#hot .hot-t {
  height: 28px;
  border: 1px solid #ccc; }
  #hot .hot-t span {
    color: #b0a59f;
    font: 12px/28px "";
    padding-left: 8px; }
    #hot .hot-t span a {
      color: #806f66; }
    #hot .hot-t span a:first-child {
      margin-left: 44px; }
    #hot .hot-t span b {
      margin: 0 16px; }
#hot .hot-c h3 {
  font: 18px/48px "";
  color: #000; }
#hot .hot-c ul {
  overflow: hidden;
  height: 380px; }
#hot .hot-c ul li {
  float: left;
  border: 4px solid white; }
#hot .hot-c ul li:hover {
  border: 4px solid red; }
#hot .hot-c ul li .bord {
  width: 218px;
  height: 318px;
  border: 1px solid #ccc;
  padding: 5px; }
  #hot .hot-c ul li .bord img {
    width: 220px;
    height: 220px; }
  #hot .hot-c ul li .bord .text {
    line-height: 24px; }
    #hot .hot-c ul li .bord .text .price {
      font-size: 16px;
      color: red;
      font-weight: 700;
      line-height: 28px; }
      #hot .hot-c ul li .bord .text .price s {
        font-size: 10px;
        color: #666;
        font-weight: 100;
        margin-right: 5px; }
      #hot .hot-c ul li .bord .text .price b {
        font-size: 12px;
        color: #000; }
      #hot .hot-c ul li .bord .text .price strong {
        color: #b57c5b; }
    #hot .hot-c ul li .bord .text a.des {
      font: 12px "";
      color: #000; }
    #hot .hot-c ul li .bord .text .home {
      font: 12px "";
      color: #666;
      text-decoration: underline; }
    #hot .hot-c ul li .bord .text .yun {
      font: 12px "";
      color: #666;
      margin-left: 65px; }
    #hot .hot-c ul li .bord .text a:hover {
      color: red;
      text-decoration: underline; }

.hot-b {
  height: 58px;
  background: #f4f4f4;
  text-align: center;
  padding-top: 26px;
  margin-bottom: 30px; }
  .hot-b #search {
    width: 428px;
    height: 26px;
    border: 2px solid #ff0036; }
  .hot-b a {
    display: inline-block;
    width: 96px;
    height: 30px;
    background: #ff0036;
    font: 12px/28px "";
    color: #fff; }

/*# sourceMappingURL=list.css.map */
