.margin {
  width: 1230px;
  margin: 0 auto; }

#head {
  height: 130px;
  overflow: hidden; }
  #head #logo {
    float: left;
    padding-left: 10px;
    overflow: hidden; }
    #head #logo .txt {
      font-size: 178px;
      color: #ff0036;
      position: relative;
      top: -40px; }
    #head #logo .cat {
      font-size: 40px;
      position: relative;
      left: -160px;
      bottom: 36px; }
  #head #logo-r {
    float: left;
    margin-left: 128px;
    margin-top: 38px; }
    #head #logo-r .search #txt {
      width: 481px;
      height: 36px;
      border: 2px solid #ff0036;
      float: left;
      padding: 0 5px;
      outline: none; }
    #head #logo-r .search #btn {
      width: 130px;
      height: 40px;
      background: #ff0036;
      border: none;
      font: 18px/40px "";
      color: #fff; }
    #head #logo-r ul li {
      float: left;
      font: 14px/30px ""; }
      #head #logo-r ul li a {
        color: #999; }
      #head #logo-r ul li a.te {
        color: #ff0036; }
      #head #logo-r ul li span {
        margin-left: 14px;
        margin-right: 12px; }

#nav {
  height: 36px;
  background: #ff0036;
  font-size: 16px; }
  #nav .margin {
    position: relative; }
  #nav ul {
    margin-left: 214px; }
    #nav ul li {
      float: left;
      line-height: 36px;
      position: relative; }
      #nav ul li a {
        display: block;
        color: #fff;
        margin: 0 15px; }
        #nav ul li a i {
          font-size: 18px; }
      #nav ul li u {
        color: #ff0036;
        font-size: 34px;
        position: absolute;
        top: -20px;
        display: none; }
  #nav dl {
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff; }
    #nav dl dt {
      background: #e22127;
      line-height: 35px; }
      #nav dl dt i {
        margin: 0 14px; }
    #nav dl dd {
      background: #ebe6ee;
      font-size: 14px;
      line-height: 31px;
      position: relative;
      z-index: 300; }
      #nav dl dd i {
        color: #666;
        margin: 0 8px 0 14px; }
    #nav dl dd:nth-child(2) {
      padding-top: 4px; }
  #nav div.show-content {
    position: absolute;
    left: 200px;
    top: 36px;
    background: #fafafa;
    overflow: hidden;
    display: none;
    z-index: 300; }
    #nav div.show-content .show-l {
      background: #fff;
      padding-right: 20px;
      height: 496px;
      float: left; }
      #nav div.show-content .show-l .hot-word-line {
        overflow: hidden; }
        #nav div.show-content .show-l .hot-word-line h3 {
          font-size: 12px;
          padding: 14px 30px;
          float: left; }
        #nav div.show-content .show-l .hot-word-line p {
          padding: 12px 0;
          width: 470px;
          float: left;
          border-bottom: 1px dashed #cecece; }
          #nav div.show-content .show-l .hot-word-line p a {
            font: 14px/20px "";
            margin: 5px;
            word-break: keep-all;
            white-space: nowrap; }
            #nav div.show-content .show-l .hot-word-line p a:hover {
              color: #e540a1; }
    #nav div.show-content .show-r {
      float: left;
      width: 188px;
      padding: 10px 10px 0 10px; }
      #nav div.show-content .show-r .show-r-t a {
        display: block;
        width: 73px;
        height: 37px;
        margin: 0 1px 1px 0;
        float: left;
        overflow: hidden;
        padding: 5px 10px;
        background: #fff; }
        #nav div.show-content .show-r .show-r-t a img {
          width: 73px;
          height: 37px; }
      #nav div.show-content .show-r .show-r-t a:last-child {
        margin: 10px 0;
        width: 168px;
        height: 78px; }
        #nav div.show-content .show-r .show-r-t a:last-child img {
          width: 100%;
          height: 100%; }

#banner {
  height: 500px; }
  #banner #sliderBox {
    height: 500px;
    position: relative;
    overflow: hidden; }
    #banner #sliderBox img {
      width: 1440px;
      height: 500px; }
  #banner #sliderList, #banner #sliderNav {
    position: absolute; }
  #banner #sliderNav {
    display: none;
    left: 625px;
    bottom: 15px; }
  #banner #sliderNav li {
    float: left;
    width: 22px;
    height: 22px;
    margin: 0 6px;
    background: rgba(153, 153, 153, 0.8);
    border-radius: 100%;
    border: 1px solid #999;
    text-align: center;
    line-height: 22px;
    cursor: pointer; }
  #banner #sliderNav li:hover, #banner #sliderNav li.hover {
    background: rgba(240, 240, 240, 0.8); }

#content {
  background: #f5f5f5;
  padding-top: 60px; }
  #content .hotbrand .brand-l {
    float: left; }
  #content .hotbrand .brand-r {
    float: right; }
  #content .hotbrand .brand-c {
    float: left;
    background: #fff;
    width: 732px;
    padding-left: 11px;
    text-align: center; }
    #content .hotbrand .brand-c li {
      width: 121px;
      height: 108px;
      float: left;
      border-right: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      position: relative; }
      #content .hotbrand .brand-c li p {
        width: 121px;
        height: 108px; }
        #content .hotbrand .brand-c li p img {
          width: 121px; }
      #content .hotbrand .brand-c li .contain {
        display: none;
        width: 121px;
        height: 108px;
        background: rgba(51, 51, 51, 0.6);
        position: absolute;
        left: 0;
        top: 0;
        font-size: 10px; }
        #content .hotbrand .brand-c li .contain i.iconfont {
          color: #fff;
          position: absolute;
          right: 10px;
          top: 10px; }
        #content .hotbrand .brand-c li .contain strong {
          display: block;
          line-height: 30px;
          color: #fff;
          padding-top: 30px; }
        #content .hotbrand .brand-c li .contain a {
          display: block;
          width: 62px;
          height: 18px;
          background: red;
          color: #fff;
          border-radius: 18px;
          margin: 0 auto; }
    #content .hotbrand .brand-c li:last-child a {
      display: block;
      padding-top: 33px;
      width: 121px;
      height: 75px;
      font: 12px/26px "";
      color: #999; }
    #content .hotbrand .brand-c li:hover .contain {
      display: block; }
  #content .fashion {
    margin-top: 30px;
    overflow: hidden; }
    #content .fashion .fash-con {
      width: 238px;
      text-align: center;
      float: left;
      margin-right: 10px; }
      #content .fashion .fash-con h3 {
        height: 36px;
        background: #ff0036;
        font: 700 18px/36px "";
        color: #fff; }
      #content .fashion .fash-con h3 i {
        font-weight: 700;
        margin-right: 6px; }
      #content .fashion .fash-con .fash-deta {
        background: #fff;
        padding: 0 19px; }
        #content .fashion .fash-con .fash-deta li:first-child {
          border-bottom: 1px solid #eee; }
        #content .fashion .fash-con .fash-deta h4 {
          font: 22px/28px "";
          color: #000;
          padding-top: 18px; }
        #content .fashion .fash-con .fash-deta p {
          font: 14px/20px "";
          color: #888;
          margin-bottom: 4px; }
        #content .fashion .fash-con .fash-deta div.valign {
          width: 140px;
          height: 140px;
          background: #f7f7f7;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 9px; }
          #content .fashion .fash-con .fash-deta div.valign img {
            width: 102px; }
        #content .fashion .fash-con .fash-deta li:hover div.valign img {
          transition: 1s;
          transform: scale(1.3); }
    #content .fashion .fash-con:last-child {
      margin-right: 0; }

/*# sourceMappingURL=main.css.map */
