* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

#stairs {
  margin-top: 30px; }

#LoutiNav {
  width: 36px;
  position: fixed;
  top: 150px;
  left: 50px;
  display: none; }

#LoutiNav ul li {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #fff;
  background: #626262;
  margin-bottom: 1px;
  text-align: center;
  position: relative;
  cursor: pointer; }
  #LoutiNav ul li span {
    display: block;
    width: 24px;
    height: 28px;
    line-height: 12px;
    position: relative;
    left: 6px;
    top: 6px; }

#LoutiNav ul li.first {
  background: #ff0036; }

#LoutiNav ul li.last {
  background: #ababab; }

#subject {
  width: 1230px;
  margin: 0 auto; }
  #subject .Louti {
    margin-top: 30px; }
    #subject .Louti .title {
      height: 20px;
      font: 18px/20px "";
      color: #000;
      border-left: 5px solid #ea5f8d;
      margin-bottom: 10px;
      overflow: hidden; }
      #subject .Louti .title p {
        float: left;
        padding-left: 10px; }
      #subject .Louti .title ul {
        float: right;
        overflow: hidden; }
        #subject .Louti .title ul li {
          float: left; }
          #subject .Louti .title ul li a {
            font: 14px/20px "";
            color: #000;
            margin: 0 12px; }
    #subject .Louti .fill {
      height: 440px; }
      #subject .Louti .fill .fill-l {
        float: left; }
        #subject .Louti .fill .fill-l .fill-lt {
          width: 246px;
          height: 330px;
          position: relative; }
          #subject .Louti .fill .fill-l .fill-lt img {
            width: 246px;
            height: 330px;
            display: block; }
          #subject .Louti .fill .fill-l .fill-lt ul {
            width: 100%;
            height: 30px;
            background: rgba(255, 255, 255, 0.5);
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden; }
            #subject .Louti .fill .fill-l .fill-lt ul li {
              font: 12px/30px "";
              color: #000;
              text-align: center; }
        #subject .Louti .fill .fill-l .fill-lb {
          position: relative;
          text-align: center;
          height: 110px;
          overflow: hidden; }
          #subject .Louti .fill .fill-l .fill-lb i {
            font-size: 140px;
            color: #999;
            position: absolute;
            bottom: -86px;
            left: 24px; }
          #subject .Louti .fill .fill-l .fill-lb p {
            width: 246px;
            height: 110px;
            background: rgba(234, 95, 141, 0.5);
            padding-top: 22px;
            position: absolute;
            left: 0;
            top: 0; }
            #subject .Louti .fill .fill-l .fill-lb p span:nth-child(1) {
              display: block;
              font: 700 22px/32px "";
              color: #fff; }
            #subject .Louti .fill .fill-l .fill-lb p span:nth-child(2) {
              display: block;
              font: 18px/26px "";
              color: #fff; }
      #subject .Louti .fill .fill-c {
        width: 735px;
        float: left;
        overflow: hidden; }
        #subject .Louti .fill .fill-c li {
          width: 244px;
          height: 220px;
          float: left;
          margin: 0 1px 1px 0;
          text-indent: 24px;
          position: relative; }
          #subject .Louti .fill .fill-c li p:nth-child(1) {
            font: 18px/30px "";
            color: #000;
            padding-top: 22px; }
          #subject .Louti .fill .fill-c li p:nth-child(2) {
            font: 14px/26px "";
            color: #ea5fa9; }
          #subject .Louti .fill .fill-c li img {
            display: block;
            height: 140px;
            width: 140px;
            position: absolute;
            right: 0;
            bottom: 0; }
      #subject .Louti .fill .fill-r {
        width: 248px;
        float: left;
        overflow: hidden; }
        #subject .Louti .fill .fill-r li {
          width: 248px;
          height: 146px;
          margin-bottom: 1px;
          text-indent: 24px;
          position: relative; }
          #subject .Louti .fill .fill-r li p:nth-child(1) {
            font: 18px/30px "";
            color: #000;
            padding-top: 22px; }
          #subject .Louti .fill .fill-r li p:nth-child(2) {
            font: 14px/26px "";
            color: #ea5fa9; }
          #subject .Louti .fill .fill-r li img {
            display: block;
            height: 70px;
            width: 70px;
            position: absolute;
            right: 0;
            bottom: 0; }

.ad img {
  width: 1230px;
  height: 92px;
  margin-top: 8px;
  border: 0;
  display: block; }

.Louti .title-te {
  width: 1230px;
  text-align: center;
  font-size: 18px;
  color: #666; }
  .Louti .title-te i {
    color: red;
    margin: 0 8px; }

/*# sourceMappingURL=stairs.css.map */
