@charset "utf-8";
html,body{height:100%;}

aside{
    position: fixed;
    right: 0;
    top: 0;
    width: 35px;
    background: #000;
    height: 100%;
    font-size: 12px;
    padding-top: 162px;
    color: #fff;
    text-align: center;
    a {
        display:none;
        position: absolute;
        right: 100px;
        top: 5px;
        width: 90px;
        height: 34px;
        line-height: 30px;
        color: #fff;
        background: #666;
    }
    .con{
        position: relative;
    }
    .aside_t {
        div {
            position: relative;
        }
        .vip {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            i.iconfont {
                font-size: 20px;
            }
        }
        .cart {
            padding: 20px 10px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            i.iconfont {
                font-size: 20px;
                color: #ff0036;
            }
            u{font-weight:700;color:#ff0036;}
        }
        .cart:hover {
            i.iconfont {
                color: #fff;
            }
        }
        .cart~div {
            height: 34px;
            margin: 7px 0;
            line-height: 34px;
            &:hover {
                background: #ff0036;
            }
        }
        div:hover {
            background: #ff0036;
        }
    }
    .aside_b{
        position: absolute;
        bottom:-160px;left:0;
        div{
            position:relative;
            width:35px;
            height: 34px;
            margin: 7px 0;
            line-height: 34px;
            &:hover {
                background: #ff0036;
            }
        }
        
    }
}